.homePage {
  min-height: 100vh;
  background-image: url("../assets/images/background.jpeg");
  background-size: cover;
  overflow: hidden;
}

.homePage h1 {
  font-size: 3em;
  text-align: center;
  padding-top: 35px;
}
